
/* .product{
    background-color: pink;
    border-radius: 10px;
    padding: 10px 10px 10px 0;
    border: 3px solid yellow;
    margin: 30px 0;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
} */